<div ng-controller="HomeCtrl">
    <h2>home</h2>
    <div ng-hide="username.length > 0">
        <a ng-href ng-click="login()" class="button">Auth</a>
        <input type="text" ng-model="txtUsername"><a ng-href ng-click="setName()" class="button">Set name</a>
    </div>
    <div ng-show="username.length > 0">
        <div ng-hide="displayname.length > 0" class="small-4 columns">
            <input type="text" class="xx-small" ng-model="txtDisplayname">
            <a ng-click="setDisplayName()">set displayname</a>
        </div>
        You are:{{ displayname }}<br />
        <a ng-href ng-click="newgame()" class="button">New Game</a>
    </div>
    <div>
        <ul>
            <li ng-repeat="game in games"><a ng-href="#/g/{{ game.name }}">{{ game.name }}</a></li>
        </ul>
    </div>
    
</div>